VITE_SUPABASE_URL=https://cltwqyktqgfsakpzvpfm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsdHdxeWt0cWdmc2FrcHp2cGZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NDA4NDIsImV4cCI6MjEwNjIxNjg0Mn0.b5l7xNzDZJEWe8OxWQoMprRCa1YXAWStQJHObsmsvns
